@font-face {
    font-family: 'Garamond ITC Bold';
    font-style: normal;
    font-display: swap;
    src: local('Garamond-ITC-Bold-BT'),
        url('/assets/fonts/Garamond-ITC-Bold-BT.woff2') format('woff2'),
        url('/assets/fonts/Garamond-ITC-Bold-BT.woff') format('woff');

}

@font-face {
    font-family: 'DIN Next Pro Bold';
    font-style: normal;
    font-display: swap;
    src: local('DINNextLTPro-Bold'),
        url('/assets/fonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/DINNextLTPro-Bold.woff') format('woff');

}

@font-face {
    font-family: 'DIN Next Pro Regular';
    font-style: normal;
    font-display: swap;
    src: local('DINNextLTPro-Regular'),
        url('/assets/fonts/DINNextLTPro-Regular.woff') format('woff2'),
        url('/assets/fonts/DINNextLTPro-Regular.woff') format('woff');

}
@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-display: swap;
    font-weight: normal;
    src: local('Futura2-Normal'),
        url('/assets/fonts/Futura2-Normal.woff') format('woff2'),
        url('/assets/fonts/Futura2-Normal.woff') format('woff');
}
