<nav class="nav js-nav" role="navigation" aria-label="site" tabindex="-1">

    {# Menu Toggle Button #}
    <button
        class="iconbtn nav__togglebtn js-nav-toggle"
        aria-expanded="false"
        aria-controls="nav-menu"
        aria-label="toggle menu"
    >
        <span class="menuicon">
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
            <span class="menuicon__bar"></span>
        </span>
    </button>

    {# Nav Links  #}
    {# Menu BG Animation #}
    <div class="nav__bg">
        <div class="nav__bg__circle"></div>
    </div>

</nav>